<a href="https://colab.research.google.com/github/bzruno/Senai/blob/main/for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mundo = 'Olá mundo'
for i in range(5):
  print(mundo)

Olá mundo
Olá mundo
Olá mundo
Olá mundo
Olá mundo

In [ ]:
for i in range(1, 51, 1):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
for i in range(1, 20, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
num = [1,2,3,4,5]

for i in num:
  print(f" 2 x {i} = {2 * i}")

 2 x 1 = 2
 2 x 2 = 4
 2 x 3 = 6
 2 x 4 = 8
 2 x 5 = 10

In [ ]:
palavra = input("Digite uma palavra: ")

for contar in palavra:
  print(contar)

Digite uma palavra: garrafa
g
a
r
r
a
f
a

In [ ]:
for i in reversed(range(1, 11)):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
soma = 0

for i in range(1, 11):
  soma += i
  print(soma)

1
3
6
10
15
21
28
36
45
55

In [ ]:
for i in range(5):
  numero = int(input("Digite um numero: "))
  print(numero)

Digite um numero: 5
5
Digite um numero: 8
8
Digite um numero: 9
9
Digite um numero: 10
10

In [ ]:
for i in range(1, 11):
  print(f" 7 x {i} = {7 * i}")

 7 x 1 = 7
 7 x 2 = 14
 7 x 3 = 21
 7 x 4 = 28
 7 x 5 = 35
 7 x 6 = 42
 7 x 7 = 49
 7 x 8 = 56
 7 x 9 = 63
 7 x 10 = 70

In [ ]:
for i in range(1, 11):
  for j in range(1, 11):
    print(f"{i} x {j} = {i * j}")

In [ ]:
palavra = input("Digite uma palavra:").lower()
vogais = ["a", "e", "i", "o", "u"]
contador = 0

for letra in palavra:
  if letra in vogais:
    contador += 1

print(f"A palavra {palavra} tem {contador} vogais")

Digite uma palavra:bruno
A palavra bruno tem 2 vogais

In [ ]:
# 1
for i in range(1, 21,):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# 2

for i in range(0, 51, 2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
# 3

for i in range(1, 11):
  for j in range(1, 11):
    print(f"{i} x {j} = {i * j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
# 4

soma = 0

for i in range(1, 101):
  soma += i
  print(soma)

In [ ]:
# 5

soma = 0

for i in range(5):
  numero = int(input("Digite um numero: "))
  soma += numero
  media = soma / 5
print(f"A soma é {soma} e a média é {media}")

Digite um numero: 2
Digite um numero: 2
Digite um numero: 2
Digite um numero: 2
Digite um numero: 2
A soma é 10 e a média é 2.0

In [ ]:
# 6
for i in range(1, 10, 1):
  multiplos = i * 3
  print(multiplos)

3
6
9
12
15
18
21
24
27

In [ ]:
# 7
lista = [-2, -1, 0, 1, 2 ]

for negativos in lista:
  if negativos < 0:
   print(negativos)

-2
-1

In [ ]:
# 8

altura = int(input("Digite a altura do triângulo: "))

for i in range(1, altura + 1):
    print('*' * i)

Digite a altura do triângulo: 8
*
**
***
****
*****
******
*******
********

In [ ]:
# 9
mensagem = "FIM!"
for i in reversed(range(1, 11)):
  print(i)
print(mensagem)

10
9
8
7
6
5
4
3
2
1
FIM!

In [ ]:
# 10
lista = [-2, -1, 0, 1, 2 ]

for i in lista:
  if i < 0:
    print(i)

-2
-1

In [ ]:
# 11

numero = int(input("Digite um numero:"))

for i in range(1, 11):
  multiplos = (numero * i)
  print(multiplos)

Digite um numero:2
2
4
6
8
10
12
14
16
18
20

In [ ]:
# 12
palavra = input("Digite uma palavra:").lower().strip()
vogais = ["a", "e", "i", "o", "u"]
contador = 0

for letra in palavra:
  if letra in vogais:
    contador += 1

print(f"A palavra {palavra} tem {contador} vogais")

Digite uma palavra:senai
A palavra senai tem 3 vogais

In [ ]:
# 13

for i in range(1, 11, 1):
  multiplos = i * 5
  print(multiplos)

5
10
15
20
25
30
35
40
45
50

In [ ]:
# 14
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
contador = 0

for numero in numeros:
  if numero % 2 == 0:
    contador += 1
    print(contador)

1
2
3
4
5

In [ ]:
# 15
palavra = input("Digite uma palavra:").lower()

for i in reversed(palavra):
  print(i, end="")

Digite uma palavra:senai
ianes

In [ ]:
# 16

for i in range(1, 21, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# 17

numero = int(input("Digite um número: "))

for linhas in range(1, numero + 1):
    for colunas in range(1, linhas + 1):
        print(colunas, end=' ')
    print()

In [ ]:
# 18

numero = int(input("Digite um numero:"))
fatorial = 1
for i in range(1, numero +1):
  fatorial *= i
  print(f"O fatorial de {numero} é {fatorial}")

Digite um numero:4
O fatorial de 4 é 1
O fatorial de 4 é 2
O fatorial de 4 é 6
O fatorial de 4 é 24

In [ ]:
# 19

palavra = input("Digite uma palavra:").lower()
letra = input("Digite uma letra:").lower()
contador = 0

for i in palavra:
  if i == letra:
    contador += 1

print(f"A letra {letra} aparece {contador} vezes na palavra {palavra}")

Digite uma palavra:eu estudo no senai
Digite uma letra:a
A letra a aparece 1 vezes na palavra eu estudo no senai